@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,500;0,600;0,700;1,100;1,500;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
}

nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 65px 165px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  padding: 10px;
}

label {
  display: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #8b48bf;
  width: 134px;
  height: 44px;
  border-radius: 50px;
  gap: 10px;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}

.button a {
  color: #fff;
  font-size: 13.181px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tenis-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
  padding: 180px;
}

.tenis-img {
  width: 540px;
  height: 461.07px;
  margin-left: 200px;
}

.tenis-title {
  width: 600px;
}

.tenis-title-h1 {
  align-self: stretch;
  color: #232c50;
  text-align: right;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 114.6%; /* 57.3px */
  letter-spacing: -1.75px;
  padding: 28px;
}

.tenis-p {
  color: #000;
  text-align: right;
  font-size: 16.558px;
  font-style: normal;
  font-weight: 500;
  line-height: 157.1%; /* 26.013px */
  padding: 28px;
}

.button-tenis-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #8b48bf;
  width: 134px;
  height: 44px;
  border-radius: 50px;
  gap: 10px;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
  margin-left: 450px;
}

.button-tenis-section a {
  color: #fff;
  font-size: 13.181px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-items: center;
}

.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
  background: #8b48bf;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.section-container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-h3,
.section-p {
  width: 50%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.section-h3 h3 {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 114.6%;
  text-align: left;
  margin-right: 25px;
}

.section-p p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 151.1%;
  text-align: left;
  margin-left: 25px;
}

.third-section {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos "01" y "02" */
  align-items: center; /* Centra verticalmente en el contenedor */
}

.article {
  width: 530px; /* Ancho de 530px para todos los elementos "01" y "02" */
  height: 162px; /* Alto de 162px para todos los elementos */
  text-align: center;
  position: relative;
  margin-left: 30px;
  padding: 5px;
}

.article-p {
  position: absolute;
  top: 0;
  left: -10px;
  background-color: #8b48bf;
  width: 25px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.article-summary-p {
  text-align: left;
  margin-left: 60px;
}

.article-summary-p p {
  color: #b3b2b7;
  font-size: 16.298px;
  font-style: normal;
  font-weight: 500;
  line-height: 156.6%; /* 25.523px */
  letter-spacing: -0.163px;
}

.article h3 {
  margin-bottom: 10px;
}

.article-03 {
  width: 530px;
  height: 162px;
  margin-top: 20px;
}

.best-month {
  display: flex;
  flex-direction: row; /* Alinea las tarjetas en una fila */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  align-items: center;
  margin-bottom: 50px;
}

.container-people {
  margin: 10px;
}

.card {
  width: 403px;
  height: 237px;
  text-align: center;
  background: #fafafa;
}

.card img {
  max-width: 100%;
  border-radius: 50%;
}

.description {
  margin-top: 10px;
}

.description h2 {
  margin-bottom: 20px;
  color: #3f4868;
  font-size: 16.071px;
  font-style: normal;
  font-weight: 700;
  line-height: 156.6%; /* 25.168px */
  letter-spacing: -0.161px;
}

.description p {
  color: #b9b9c1;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 156.6%; /* 25.056px */
}

.title-h2 {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.title-h2 h2 {
  color: #242e53;
  text-align: center;
  font-size: 39.214px;
  font-style: normal;
  font-weight: 700;
  line-height: 156.6%; /* 61.41px */
  letter-spacing: -0.392px;
}

.button-more-info {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.button-more-info a {
  width: 134px;
  padding: 10px;
  border-radius: 50px;
  background: #8b48bf;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
  text-align: center; /* Centra el texto horizontalmente */
  color: white; /* Cambia el color del texto para que sea visible en el fondo */
  text-decoration: none; /* Quita la subrayado predeterminado en los enlaces */
}

.end-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
  background: #8b48bf;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.end-section-container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-h3,
.section-a {
  width: 50%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.section-a a {
  width: 194px;
  height: 44px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  color: #8b48bf;
  font-size: 13.181px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Estilos para .footer-section */
.footer-section {
  background: #1e1e26;
  padding: 20px 0;
  padding-left: 100px;
  display: flex;
  align-items: center;
}

/* Estilos para .logo-img */
.logo-img img {
  height: 25px;
}

/* Estilos para .social */
.social {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Estilos para .social-links */
.social-links {
  list-style: none;
  margin: 0;
  margin-top: 50px;
  margin-left: -10px;
  margin-right: 50px;
  display: flex;
  gap: 10px;
}

/* Estilos para los íconos sociales dentro de .social-links */
.social-links img {
  width: 19px;
  height: 20px;
}

/* Estilos para .list */
.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

/* Estilos para .list-1 y .list-2 */
.list-1 ul,
.list-2 ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo adicional para los elementos de la lista */

.list-1 ul,
.list-2 ul {
  list-style: none;
  margin: 0;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-1 ul li,
.list-2 ul li {
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-email {
  display: flex;
  align-items: center;
}

input {
  display: flex;
  width: 201px;
  height: 44px;
  padding: 10px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #fff;
  margin-right: 50px;
}

.button-email {
  display: flex;
  width: 63px;
  height: 42px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #8b48bf;
}

.button-email a {
  color: #fff;
}

.copyright {
  display: flex;
  position: relative;
  right: 220px;
  top: 90px;
  width: 220px;
  height: 19.848px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.copyright p {
  color: #8c8c94;
  font-size: 12.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 700px) {
  .nav-menu,
  .button {
    display: none;
  }

  /* Estilos para mostrar el logo y el icono de menú */
  .logo,
  .bar-btn {
    display: block;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 80px;
  }

  /* Estilos para la sección "Tenis" */
  .tenis-section {
    flex-direction: column;
    padding: 80px 20px;
  }

  .tenis-img {
    margin-left: 0;
    text-align: center;
  }

  .tenis-img img {
    width: 400px;
    height: 341.533px;
  }

  .tenis-title {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .tenis-p {
    display: flex;
    height: 71px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
  }

  .button-tenis-section {
    display: none;
  }

  /* Estilos para la sección "Second" */
  .second-section {
    padding: 150px 80px;
    background: #3cddf3;
  }

  .section-container {
    flex-direction: column;
  }

  .section-h3 {
    text-align: right;
    color: #fff;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%; /* 41.256px */
  }

  .section-p {
    display: flex;
    width: 440px;
    justify-content: center;
    align-self: stretch;
    text-align: right;
  }

  /* Estilos para la sección "Third" */
  .third-section {
    padding: 20px;
  }

  .container {
    flex-direction: column;
  }

  .article {
    margin-left: 0;
  }

  .article-summary-p {
    margin-left: 0;
  }

  .article-03 {
    width: 100%;
  }

  /* Estilos para la sección "Best Month" */
  .best-month {
    flex-direction: column;
  }

  .card {
    width: 446px;
  }

  .button-more-info {
    margin-bottom: 20px;
  }

  .sanyo {
    display: none;
  }

  .navarro {
    display: none;
  }

  .button-more-info {
    margin-bottom: 100px;
  }

  /* Estilos para la sección "End Section" */

  .end-section {
    display: flex;
    padding: 200px;
    background: #3cddf3;
  }

  .section-h3 {
    display: flex;
    width: 400px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    align-content: center;
  }

  .section-h3 h3 {
    text-align: center;
  }

  .end-section-container {
    flex-direction: column;
  }

  .section-a a {
    color: #fff;
    display: flex;
    width: 134px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #232c50;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  }

/* Estilos para .footer-section */
.footer-section {
  background: #1e1e26;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* Estilos para .logo-img */
.logo-img img {
  height: 25px;
  order: 2; /* Cambiar el orden para que aparezca abajo */
}

/* Estilos para .social */
.social {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse; /* Invierte el orden verticalmente */
  align-items: center;
  justify-content: center;
  gap: 20px;
  order: 1; /* Cambiar el orden para que aparezca arriba */
}

/* Estilos para .social-links */
.social-links {
  margin: 0;
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* Estilos para los íconos sociales dentro de .social-links */
.social-links img {
  width: 19px;
  height: 20px;
}

/* Estilos para .list */
.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

/* Estilos para .list-1 y .list-2 */
.list-1 ul,
.list-2 ul {
  list-style: none;
  padding-right: 90px;
  padding-left: 100px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo adicional para los elementos de la lista */
.list-1 ul li,
.list-2 ul li {
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Estilos para .input-email y .button-email */
.input-email,
.button-email {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.input-email input {
  width: 100%;
}

.button-email {
  width: auto;
  height: 42px;
  padding: 0 20px;
  border-radius: 50px;
  background: #8b48bf;
}

.button-email a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para .copyright */
.copyright {
  display: none;
}

}
